<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.vmc.mconnecttab">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="600" />
    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.Welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Home"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".backgroundservice.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".activity.DatailImgeView"
            android:label="@string/title_activity_datail_imge_view"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.Home"/>
        <activity
            android:name=".activity.Visitor"
            android:label="@string/title_activity_visitor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vmc.mconnecttab.activity.Home" />
        </activity>
        <activity
            android:name=".activity.VisitorForm"
            android:label="@string/title_activity_visitor_form"
            android:noHistory="true"
            android:parentActivityName=".activity.Visitor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vmc.mconnecttab.activity.Visitor" />
        </activity>
        <activity
            android:name=".activity.CurrentSite"
            android:label="@string/title_activity_current_site"
            android:parentActivityName=".activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vmc.mconnecttab.activity.Home" />
        </activity>
        <activity
            android:name=".activity.LocationDetail"
            android:parentActivityName=".activity.CurrentSite"
            android:label="@string/title_activity_location_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
